<!-- You May Also Like Start -->
<div class="you-may-also-like margin-top-50 margin-bottom-50">
    <h3>You may also like</h3>
    <div class="row">

        {% for also_like_post in also_like_posts %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                {% if also_like_post.photo %}
                <img src="media/{{ also_like_post.photo }}" class="card-img-top" alt="also_like_post.photo">
                {% else %}
                
                {% endif %}
                <img src="https://picsum.photos/id/1060/300/201/?blur=2" class="card-img-top" alt="also_like_post.photo">
                <a href="{{ also_like_post.get_absolute_url }}" class="h3">{{ also_like_post.title }}</a>
                {#<p>Views: {{ also_like_post.views_count }}</p>#}
            </div>
        {% endfor %}


        {% comment %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="single.html"><p>How to design elegant e-mail newsletter in html for
                wish christmas to your subscribers?</p></a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="single.html"><p>How to customize a wordpress theme entirely from
                scratch using a child theme?</p></a>
        </div>
        {% endcomment %}
    </div>
</div>
<!-- You May Also Like End -->